body{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 5px;
        background: $primary-red;
    }
    &::-webkit-scrollbar-track {
        background: $primary-blue;
    }
    &::-webkit-scrollbar-thumb {
        background: $primary-red;
    }
}

.app{
    .main-container{
        &.white-bg{
            background-color: white
        }
        &.blue-bg{
            background-color: $primary-blue
        }
        .nav-container{
            //@import "./components/menu";
            @import "./components/sidebarnav";
        }
        .deball-container{
            @import "./components/deball";
        }
        .body-container{
            @import "./pages/home";
            @import "./pages/eligibility";
            @import "./pages/clients";
        }
    }
}

#modals-container{
    .vm--container{
        .vm--modal{
            background: transparent;
            box-shadow: none;
            .modal-container-fluid{
                border-radius: 15px;
                background: white;
                height: 100%;
                overflow: hidden;
                .mcf-wrapper{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    .mcf-header{
                        flex: 1;
                        .mcf-content{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            height: 100%;
                            padding: 0 10px;
                            .mcf-header-title{
                                margin: 0;
                                color: $primary-blue;
                                font-size: 16px;
                                line-height: 16px;
                                font-weight: 600;
                            }
                            .mcf-header-icon{
                                width: 17px;
                                height: 17px;
                                color: $primary-blue;
                            }
                        }
                    }
                    .mcf-body{
                        flex: 3;
                        .mcf-content{
                            padding: 5px 10px;
                            .mcf-text-input{
                                width: 100%;
                                border-width: 0px 0px 1px 0px;
                                border-style: solid;
                                border-color: $gray;
                                outline: none;
                                box-shadow: none;
                                &::placeholder{
                                    font-size: 14px;
                                }
                            }
                            .mcf-colors{
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                align-items: center;
                                .mcf-title{
                                    color: #888888;
                                    font-size: 12px;
                                    font-weight: 400;
                                    margin: 0 5px 0px 0;
                                }
                                .mcf-label{
                                    margin: 0 2px;
                                    width: 25px;
                                    height: 25px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    cursor: pointer;
                                    border-radius: 20px;
                                    position: relative;
                                    .mcf-color-input{
                                        display: none;
                                        &:checked  ~ span.mcf-input-tick{
                                            display: block;
                                        }
                                    }
                                    .mcf-input-tick{
                                        display: none;
                                        content: "✓";
                                        color: white;
                                        top: 5px;
                                        bottom: 0;
                                        position: absolute;
                                        left: 8px;
                                        right: 0px;
                                        font-size: 10px;
                                        font-weight: bold;
                                        z-index: 0;
                                        user-select: none;
                                    }
                                }
                            }
                            .mcf-datetime{
                                display: flex;
                                flex-direction: column;
                                .mcf-title{
                                    color: #888888;
                                    font-size: 12px;
                                    font-weight: 400;
                                    margin: 0;
                                }
                                .mcf-input-date{
                                    border: none;
                                    outline: none;
                                    box-shadow: 0px 0px 2px -1px black;
                                    width: 100%;
                                    padding: 0 5px;
                                    border-radius: 5px;
                                    &::placeholder{
                                        font-size: 14px;
                                    }
                                }
                                .mcf-time{
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    .mcf-inputs{
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        border: none;
                                        outline: none;
                                        box-shadow: 0px 0px 2px -1px black;
                                        width: 100%;
                                        padding: 0 5px;
                                        border-radius: 5px;
                                        &::placeholder{
                                            font-size: 14px;
                                        }
                                        &.mcf-input-hours{
                                            margin-right: 2px;
                                        }
                                        &.mcf-input-minutes{
                                            margin-left: 2px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .mcf-footer{
                        flex: 1;
                        height: 40px;
                        background: $light-gray;
                        border: none;
                        .mcf-content{
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            align-items: center;
                            height: 100%;
                            padding: 0 10px;
                            .mcf-button{
                                margin: 0 2px;
                                border-radius: 5px;
                                border:none;
                                text-transform: lowercase;
                                outline: none;
                                box-shadow: 0px 0px 5px -2px black;
                                width: 70px;
                                font-weight: 200;
                                font-size: 13px;
                                height: 25px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                &.mcf-btn-crt{
                                    background: $primary-blue;
                                    color: white;
                                }
                                &.mcf-btn-cls{
                                    background: white;
                                    color: $primary-blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

