<template>
  <div class="main-container blue-bg">
    <div class="nav-container">
      <!-- <SideNavigation /> -->
    </div>
    <div class="deball-container">
      <Deball/>
    </div>
    <div id="bodyUi" class="body-container" style="margin-left:10px; color:white">
      <div class="container">
        <form autocomplete="off" v-if="formStep.typeStep == 'form'" class="form-wrapper d-flex flex-column justify-content-between py-4" v-on:submit.prevent action="#">
          <span class="countdown-timer"> {{timer.countdown}} </span>
          <!---->
          <div class="row header mb-3">
            <div class="col-12">
              <div class="header-wrappe">
                <h2 class="counter">
                  <sup>é</sup>tape <span>{{formStep.activeStep+1}}</span>
                </h2>
              </div>
            </div>
          </div>
          <!---->
          <div class="row body mb-3">
            <div class="col-12">
              <!---->
              <div class="row mb-3 justify-content-center">
                <div class="col-8">
                  <div class="title">
                    <h2 class="text-center m-0">{{formData[formStep.activeStep].title}}</h2>
                    <h2 class="text-center m-0" v-if="formStep.activeStep == 7 && formStep.subStepCat == 1">{{formData[formStep.activeStep].stepA[formStep.activeSubStep].title}}</h2>
                    <h2 class="text-center m-0" v-if="formStep.activeStep == 7 && formStep.subStepCat == 2">{{formData[formStep.activeStep].stepB[formStep.activeSubStep].title}}</h2>
                  </div>
                </div>
              </div>
              <!---->
              <div class="row justify-content-center">
                <div class="col-8">
                  <div class="sections">
                    
                    <section class="section-step" v-if="formStep.activeStep == 0" >
                      <div class="mb-3">
                        <input type="text" class="form-control input-text-custom" id="zipcode" v-model="formValues.zipCode" name="zipcode" placeholder="exemple : 12345">
                      </div>
                      <SVGMap/>
                    </section>
                    <!---->
                    <section class="section-step" v-if="formStep.activeStep == 1" >
                      <div class="">
                          <input type="text" class="form-control input-text-custom" v-model="formValues.companyName" id="companyName" name="companyName" placeholder="sociéte abc">
                        </div>
                    </section>
                    <!---->
                    <section class="section-step" v-if="formStep.activeStep == 2" >
                      <div class="row g-3 justify-content-center">
                        <div class="col-auto">
                          <div class="">
                            <input type="radio" class="btn-check input-radio-custom" v-model="formValues.companyStatus" value="SARL" name="companyStatus" id="companyStatus1">
                            <label class="input-radio-custom-label btn btn-secondary" for="companyStatus1">SARL</label>
                          </div>
                        </div>
                        <div class="col-auto">
                          <div class="">
                            <input type="radio" class="btn-check input-radio-custom" v-model="formValues.companyStatus" value="SAS" name="companyStatus" id="companyStatus2">
                            <label class="input-radio-custom-label btn btn-secondary" for="companyStatus2">SAS</label>
                          </div>
                        </div>
                        <div class="col-auto">
                          <div class="">
                            <input type="radio" class="btn-check input-radio-custom" v-model="formValues.companyStatus" value="SASU" name="companyStatus" id="companyStatus3">
                            <label class="input-radio-custom-label btn btn-secondary" for="companyStatus3">SASU</label>
                          </div>
                        </div>
                        <div class="col-auto">
                          <div class="">
                            <input type="radio" class="btn-check input-radio-custom" v-model="formValues.companyStatus" value="EURL" name="companyStatus" id="companyStatus4">
                            <label class="input-radio-custom-label btn btn-secondary" for="companyStatus4">EURL</label>
                          </div>
                        </div>
                        <div class="col-auto">
                          <div class="">
                            <input type="radio" class="btn-check input-radio-custom" v-model="formValues.companyStatus" value="MICRO-ENT" name="companyStatus" id="companyStatus5">
                            <label class="input-radio-custom-label btn btn-secondary" for="companyStatus5">MICRO-ENT</label>
                          </div>
                        </div>
                        <div class="col-auto">
                          <div class="">
                            <input type="radio" class="btn-check input-radio-custom" v-model="formValues.companyStatus" value="Artisan" name="companyStatus" id="companyStatus6">
                            <label class="input-radio-custom-label btn btn-secondary" for="companyStatus6">Artisan</label>
                          </div>
                        </div>
                        <div class="col-auto">
                          <div class="">
                            <input type="radio" class="btn-check input-radio-custom" v-model="formValues.companyStatus" value="Individuelle" name="companyStatus" id="companyStatus7">
                            <label class="input-radio-custom-label btn btn-secondary" for="companyStatus7">Individuelle</label>
                          </div>
                        </div>
                      </div>
                    </section>
                    <!---->
                    <section class="section-step" v-if="formStep.activeStep == 3" >
                      <div class="row g-3 justify-content-center">
                        <div class="col-auto">
                          <div class="input-group input-group-custom">
                            <span class="input-group-text input-number-custom-sapn" id="turnover">-+</span>
                            <span v-if="formValues.turnover > 1" style="position:absolute;top:8px;left:50px" class="add-plus">+</span>
                            <input type="number" class="form-control input-number-custom" v-model="formValues.turnover" name="turnover" min="-100" max="100" step="10" id="turnoverDown">
                          </div>
                        </div>
                        <div class="col-auto">
                          <div class="">
                            <input type="radio" class="btn-check input-radio-custom" v-model="formValues.turnover" value="stable" name="turnover" id="turnoverStable">
                            <label class="input-radio-custom-label btn btn-secondary" for="turnoverStable">Etat stable</label>
                          </div>
                        </div>
                      </div>
                    </section>
                    <!---->
                    <section class="section-step" v-if="formStep.activeStep == 4" >
                      <div class="input-select-wrapper">
                        <div class="input-select-content">
                          <input type="text" class="input-select-options-custom" v-model="formValues.stateHelp" id="selectOptionInput" name="stateHelp" placeholder="Select option" readonly>
                          <span class="input-select-options-icon">
                            <div class="input-icon-arrow"></div>
                          </span>
                        </div>
                        <ul id="selectOptionDropdown" class="input-select-options-ul">
                            <li v-for="help in formData[formStep.activeStep].data" v-bind:key="help" v-bind:data-value="help" id="selectOptionList" class="input-select-options-li">{{help}}</li>
                        </ul>
                      </div>
                    </section>
                    <!---->
                    <section class="section-step" v-if="formStep.activeStep == 5" >
                      <div class="input-range-wrapper my-5">
                        <div class="range-input">
                          <input type="range" min="0" max="489" value="0" step="1" class="range-input-custom" id="rangeSlider">
                          <output id="rangeValue" class="range-value-bubble">0 €</output>
                          <span class="range-progress-bar" id="rangeProgress"></span>
                          <ul class="range-spots-wrapper">
                            <li v-for="(item,index) in formData[formStep.activeStep].data" :key="index" class="range-spot">
                              <span class="range-spot-bull"></span>
                              <span class="range-spot-txt">{{item}}</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </section>
                    <!---->
                    <section class="section-step" v-if="formStep.activeStep == 6" >
                      <div class="input-select-wrapper">
                          <div class="input-select-content">
                            <input type="text" class="input-select-options-custom" v-model="formValues.salariesNumber" id="selectOptionInput" name="salariesNumber" placeholder="Select option" readonly>
                            <span class="input-select-options-icon">
                              <div class="input-icon-arrow"></div>
                            </span>
                          </div>
                          <ul id="selectOptionDropdown" class="input-select-options-ul">
                              <li v-for="slaries in formData[formStep.activeStep].data" v-bind:key="slaries.desc" v-bind:data-value="slaries.val" id="selectOptionList" class="input-select-options-li">{{slaries.desc}}</li>
                          </ul>
                        </div>
                    </section>
                    <!---->
                    <section class="section-step" v-if="formStep.activeStep == 7">
                      <!---->
                      <div v-if="formStep.subStepCat == 1">
                        <!---->
                        <div v-if="formStep.activeSubStep == 0">
                          <div class="row g-3 justify-content-center">
                            <div class="col-auto">
                              <div class="">
                                <input type="radio" class="btn-check input-radio-custom" v-model="formValues.haveWebsite" value="oui" name="website" id="website1">
                                <label class="btn btn-secondary  input-radio-custom-label" for="website1">Oui</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="">
                                <input type="radio" class="btn-check input-radio-custom" v-model="formValues.haveWebsite" value="non" name="website" id="website2">
                                <label class="btn btn-secondary input-radio-custom-label" for="website2">Non</label>
                              </div>
                            </div>
                          </div> 
                        </div>
                        <!---->
                        <div v-if="formStep.activeSubStep == 1">
                          <div class="row g-3 mb-3 justify-content-center">
                            <div class="col-auto">
                              <div class="row">
                                <div class="col-auto">
                                  <div class="">
                                    <input type="radio" class="btn-check input-radio-custom" v-model="formValues.websiteType" value="E-commerce" name="websiteType" id="websiteType1" autocomplete="off">
                                    <label class="input-radio-custom-label btn btn-secondary" for="websiteType1">E-commerce</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="row">
                                <div class="col-auto">
                                  <div class="">
                                    <input type="radio" class="btn-check input-radio-custom" v-model="formValues.websiteType" value="Vitrine" name="websiteType" id="websiteType2" autocomplete="off">
                                    <label class="input-radio-custom-label btn btn-secondary" for="websiteType2">Vitrine</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="row">
                                <div class="col-auto">
                                  <div class="">
                                    <input type="radio" class="btn-check input-radio-custom" v-model="formValues.websiteType" value="Market-place" name="websiteType" id="websiteType3" autocomplete="off">
                                    <label class="input-radio-custom-label btn btn-secondary" for="websiteType3">Market-place</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row justify-content-center">
                            <div class="col">
                              <div class="input-group">
                                <span style="width:100px; font-size:16px; font-weight:100" class="input-group-text input-number-custom-sapn" id="websiteUser" v-if="formValues.websiteType == 'E-commerce'">Vente</span>
                                <span style="width:100px; font-size:16px; font-weight:100" class="input-group-text input-number-custom-sapn" id="websiteUser" v-if="formValues.websiteType == 'Vitrine'">Visiteur</span>
                                <span style="width:100px; font-size:16px; font-weight:100" class="input-group-text input-number-custom-sapn" id="websiteUser" v-if="formValues.websiteType == 'Market-place'">Utilisateur</span>
                                <input v-if="formValues.websiteType != null" style="padding-left:10px" type="number" class="form-control input-number-custom" v-model="formValues.websiteValue" name="websiteValue" min="0" step="10" id="websiteUser">
                              </div>
                            </div>
                          </div>
                        </div>
                        <!---->
                        <div v-if="formStep.activeSubStep == 2">
                          <div class="">
                            <input type="text" class="form-control input-text-custom" v-model="formValues.websiteLink" id="websiteLink" placeholder="http://www.site.com">
                        </div>
                        </div>
                        <!---->
                        <div v-if="formStep.activeSubStep == 3">
                          <div class="input-select-wrapper">
                            <Datepicker v-model="formValues.websiteDevelopmentDate" :format="'yyyy'" minimum-view="year" maximum-view="year" name="websiteDevelopmentDate" id="input-id" input-class="input-select-options-custom"></Datepicker>
                          </div>
                        </div>
                        <!---->
                        <div v-if="formStep.activeSubStep == 4">
                          <div class="">
                            <input type="text" class="form-control input-text-custom" v-model="formValues.agencyName" id="agencyName" name="agencyName" placeholder="Agence abc">
                          </div>
                        </div>
                        <!---->
                      </div>
                      <!---->
                      <div v-if="formStep.subStepCat == 2">
                        <!---->
                        <div v-if="formStep.activeSubStep == 0">
                          <div class="row g-3 justify-content-center">
                            <div class="col-auto">
                              <div class="">
                                <input type="radio" class="btn-check input-radio-custom" v-model="formValues.haveCrm" value="oui" name="haveCrm" id="haveCrm1">
                                <label class="btn btn-secondary  input-radio-custom-label" for="haveCrm1">Oui</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="">
                                <input type="radio" class="btn-check input-radio-custom" v-model="formValues.haveCrm" value="non" name="haveCrm" id="haveCrm2">
                                <label class="btn btn-secondary input-radio-custom-label" for="haveCrm2">Non</label>
                              </div>
                            </div>
                          </div> 
                        </div>
                        <!---->
                        <div v-if="formStep.activeSubStep == 1">
                          <div class="row g-3 mb-3 justify-content-center">
                            <div class="col-auto">
                              <div class="row">
                                <div class="col-auto">
                                  <div class="">
                                    <input type="radio" class="btn-check input-radio-custom" v-model="formValues.crmType" value="ERP" name="crmType" id="crmType1" autocomplete="off">
                                    <label class="input-radio-custom-label btn btn-secondary" for="crmType1">ERP</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="row">
                                <div class="col-auto">
                                  <div class="">
                                    <input type="radio" class="btn-check input-radio-custom" v-model="formValues.crmType" value="CRM" name="crmType" id="crmType2" autocomplete="off">
                                    <label class="input-radio-custom-label btn btn-secondary" for="crmType2">CRM</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="row">
                                <div class="col-auto">
                                  <div class="">
                                    <input type="radio" class="btn-check input-radio-custom" v-model="formValues.crmType" value="CRM-ERP" name="crmType" id="crmType3" autocomplete="off">
                                    <label class="input-radio-custom-label btn btn-secondary" for="crmType3">CRM-ERP</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!---->
                        <div v-if="formStep.activeSubStep == 2">
                          <div class="row g-3 justify-content-center">
                            <div class="col-auto">
                              <div class="">
                                <input type="radio" class="btn-check input-radio-custom" v-model="formValues.crmDevelopement" value="interne" name="crmDevelopement" id="crmDevelopement1">
                                <label class="btn btn-secondary  input-radio-custom-label" for="crmDevelopement1">Interne</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="">
                                <input type="radio" class="btn-check input-radio-custom" v-model="formValues.crmDevelopement" value="externe" name="crmDevelopement" id="crmDevelopement2">
                                <label class="btn btn-secondary input-radio-custom-label" for="crmDevelopement2">Externe</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!---->
                        <div v-if="formStep.activeSubStep == 3">
                          <div class="input-select-wrapper">
                            <Datepicker v-model="formValues.crmDevelopmentDate" :format="'yyyy'" minimum-view="year" maximum-view="year" name="crmDevelopmentDate" id="input-id" input-class="input-select-options-custom"></Datepicker>
                          </div>
                        </div>
                        <!---->
                        <div v-if="formStep.activeSubStep == 4">
                          <div class="">
                            <input type="text" class="form-control input-text-custom" v-model="formValues.agencyName" id="agencyName" name="agencyName" placeholder="Agence abc">
                          </div>
                        </div>
                      </div>
                    </section>
                    <!---->
                    <section class="section-step" v-if="formStep.activeStep == 8" >
                      <div class="row mb-3">
                        <div class="col">
                          <div class="">
                            <input type="search" v-model="searchTransition" class="form-control input-text-custom" id="searchProject" name="searchProject" placeholder="Recherch projet">
                          </div>
                        </div>
                      </div>
                      <ul class="row g-3 justify-content-center services-tabs">
                        <li class="col-auto mb-3 m-0 service-tab">
                          <div class="">
                            <input type="radio" class="btn-check input-radio-custom" v-model="transitionCategories" value="" name="transitionCategories" id="transitionCategories1">
                            <label class="input-radio-custom-label btn btn-secondary" for="transitionCategories1">Tous</label>
                          </div>
                        </li>
                        <li class="col-auto mb-3 m-0 service-tab">
                          <div class="">
                            <input type="radio" class="btn-check input-radio-custom" v-model="transitionCategories" value="Graphique" name="transitionCategories" id="transitionCategories2">
                            <label class="input-radio-custom-label btn btn-secondary" for="transitionCategories2">Graphique</label>
                          </div>
                        </li>
                        <li class="col-auto mb-3 m-0 service-tab">
                          <div class="">
                            <input type="radio" class="btn-check input-radio-custom" v-model="transitionCategories" value="Développement" name="transitionCategories" id="transitionCategories3">
                            <label class="input-radio-custom-label btn btn-secondary" for="transitionCategories3">Développement</label>
                          </div>
                        </li>
                        <li class="col-auto mb-3 m-0 service-tab">
                          <div class="">
                            <input type="radio" class="btn-check input-radio-custom" v-model="transitionCategories" value="Montage" name="transitionCategories" id="transitionCategories4">
                            <label class="input-radio-custom-label btn btn-secondary" for="transitionCategories4">Montage</label>
                          </div>
                        </li>
                        <li class="col-auto mb-3 m-0 service-tab">
                          <div class="">
                            <input type="radio" class="btn-check input-radio-custom" v-model="transitionCategories" value="Marketing" name="transitionCategories" id="transitionCategories5">
                            <label class="input-radio-custom-label btn btn-secondary" for="transitionCategories5">Marketing</label>
                          </div>
                        </li>
                      </ul>
                      <div class="row">
                        <div class="col">
                          <div class="services-wrapper">
                            <tooltip class="d-flex justify-content-center align-items-center" style="color:white; background:rgba(255,255,255,.5)"/>
                            <ul class="services-list">
                              <li v-popover:tooltip="item.desc" v-for="(item,index) in filterTransitions()" :key="index" class="services-list-items">
                                <img class="services-items-icon" v-bind:src="'/public/icons/'+item.logo+'.svg'">
                                <span class="services-items-text">{{item.name}}</span>
                                <input type="checkbox" v-model="formValues.digitalTransitions" name="digitalTransitions[]" v-bind:value="item.name" class="services-items-radio">
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </section>
                    <!---->
                    <section class="section-step" v-if="formStep.activeStep == 9" >
                      <div class="input-select-wrapper">
                        <div class="input-select-content">
                          <input type="text" class="input-select-options-custom" v-model="formValues.budgetInvestment" id="selectOptionInput" name="budgetInvestment" placeholder="Select option" readonly>
                          <span class="input-select-options-icon">
                            <div class="input-icon-arrow"></div>
                          </span>
                        </div>
                        <ul id="selectOptionDropdown" class="input-select-options-ul">
                            <li v-for="investement in formData[formStep.activeStep].data" v-bind:key="investement" v-bind:data-value="investement" id="selectOptionList" class="input-select-options-li">a partire de {{investement}} €</li>
                        </ul>
                      </div>
                    </section>
                    <!---->
                    <section class="section-step" v-if="formStep.activeStep == 10" >
                      <div class="">
                        <input type="text" class="form-control input-text-custom" v-model="formValues.siretNumber" name="siretNumber" id="siretNumber" placeholder="exemple : 362 521 879 00034">
                      </div>
                    </section>
                    <!---->
                    <section class="section-step" v-if="formStep.activeStep == 11" >
                      <div class="row mb-3">
                        <div class="col">
                          <div class="">
                            <input type="text" class="form-control input-text-custom" v-model="formValues.address" id="addressCompletation" name="address" placeholder="Adresse" autocomplete="false">
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3 g-3">
                        <div class="col">
                          <div class="">
                            <input type="text" class="form-control input-text-custom" v-model="formValues.city" id="city" name="city" placeholder="Ville">
                          </div>
                        </div>
                        <div class="col">
                          <div class="">
                            <input type="text" class="form-control input-text-custom" v-model="formValues.zipCode" id="zipCode" name="zipCode" placeholder="Code postale" disabled="disabled">
                          </div>
                        </div>
                      </div>
                      <div class="row g-3">
                        <div class="col">
                          <div class="">
                            <input type="text" class="form-control input-text-custom" v-model="formValues.region" id="region" name="region" placeholder="Région" disabled="disabled">
                          </div>
                        </div>
                        <div class="col">
                          <div class="">
                            <input type="text" class="form-control input-text-custom" v-model="formValues.department" id="department" name="department" placeholder="Département" disabled="disabled">
                          </div>
                        </div>
                      </div>
                    </section>
                    <!---->
                    <section class="section-step" v-if="formStep.activeStep == 12" >
                      <div class="row mb-3 g-3">
                        <div class="col">
                          <div class="">
                            <input type="text" class="form-control input-text-custom" v-model="formValues.firstName" id="firstName" placeholder="Nom" autocomplete="name">
                          </div>
                        </div>
                        <div class="col">
                          <div class="">
                            <input type="text" class="form-control input-text-custom" v-model="formValues.lastName" id="lastName" placeholder="Prénom" autocomplete="family-name">
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="">
                            <input type="text" class="form-control input-text-custom" v-model="formValues.email" id="email" placeholder="Email" autocomplete="email">
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="">
                            <input type="text" class="form-control input-text-custom" v-model="formValues.phone" id="phone" placeholder="Numéro portable" autocomplete="tel">
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="">
                            <input type="text" class="form-control input-text-custom" v-model="formValues.companyPhone" id="companyPhone" placeholder="Numéro d'entreprise" autocomplete="organization">
                          </div>
                        </div>
                      </div>
                      <div class="row justify-content-center align-items-center">
                        <div class="col-12 mb-3">
                          poste :
                        </div>
                        <div class="d-flex flex-wrap justify-content-between">
                          <div class="mb-3">
                            <div class="">
                              <input type="radio" class="btn-check input-radio-custom" v-model="formValues.position" value="Gérant" name="position" id="position1">
                              <label class="input-radio-custom-label btn btn-secondary" for="position1">Gérant</label>
                            </div>
                          </div>
                          <div class="mb-3">
                            <div class="">
                              <input type="radio" class="btn-check input-radio-custom" v-model="formValues.position" value="Associé" name="position" id="position2">
                              <label class="input-radio-custom-label btn btn-secondary" for="position2">Associé</label>
                            </div>
                          </div>
                          <div class="mb-3">
                            <div class="">
                              <input type="radio" class="btn-check input-radio-custom" v-model="formValues.position" value="Directeur" name="position" id="position3">
                              <label class="input-radio-custom-label btn btn-secondary" for="position3">Directeur</label>
                            </div>
                          </div>
                          <div class="mb-3">
                            <div class="">
                              <input type="radio" class="btn-check input-radio-custom" v-model="formValues.position" value="Autre" name="position" id="position4">
                              <label class="input-radio-custom-label btn btn-secondary" for="position4">Autre</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <!---->
                    <section class="section-step" v-if="formStep.activeStep == 13" >
                      <div class="row justify-content-center mb-3">
                        <div  class="col-md-12">
                          <Calendar :clientId="this.formValues.clientID" :zoomMeeting="getEventDate" :handleToast="toastHandler" />
                        </div>
                      </div>
                      <div class="row mb-3 g-3 justify-content-center">
                        <div class="col-md-6 col-lg-6">
                          <div class="">
                            <input type="radio" class="btn-check input-radio-custom" v-model="formValues.meetingType" value="Entretien vidéo conférence" name="meetingType" id="meetingType1">
                            <label style="width: 100%;font-size: 14px;" class="input-radio-custom-label btn btn-secondary" for="meetingType1">Entretien vidéo conférence</label>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                          <div class="">
                            <input type="radio" class="btn-check input-radio-custom" v-model="formValues.meetingType" value="Visite de courtoise" name="meetingType" id="meetingType2">
                            <label style="width: 100%;font-size: 14px;" class="input-radio-custom-label btn btn-secondary" for="meetingType2">Visite de courtoise</label>
                          </div>
                        </div>
                      </div>
                      <div class="row justify-content-center mb-3">
                        <div class="col-md-6">
                          <div class="">
                            <button @click="generateZoomLink" id="zoomLinkGenerate" style="width:100%;border-width:2px" type="button" class="btn btn-outline-light rounded-5">Zoom</button>
                          </div>
                        </div>
                      </div>
                      <div class="row justify-content-center">
                        <div class="col-md-6">
                          <div class="">
                            <input type="text" class="form-control input-text-custom" v-model="formValues.advisorName" id="advisorName" placeholder="Nom du conseiller">
                          </div>
                        </div>
                      </div>
                    </section>
                    <!---->
                    <section class="section-step" v-if="formStep.activeStep == 14" >
                    </section>
                  </div>
                </div>
              </div>
              <!---->
            </div>
          </div>
          <!---->
          <div class="row footer mb-3">
            <div class="col-12">
              <div class="footer-wrapper">
                <div class="row mb-3 justify-content-center">
                  <div class="col-8">
                    <div class="row g-1 justify-content-end">
                      <div class="col-auto">
                        <div v-if="formStep.activeStep > 0 && formStep.activeStep != 13" @click.prevent="prevStep" class="form-control-button">Précédent</div>
                      </div>
                      <div class="col-auto">
                        <div v-if="formStep.activeStep < formData.length -1" @click.prevent="checkForm" class="form-control-button">Suivant</div>
                        <div v-if="formStep.activeStep == formData.length -1" @click.prevent="reloadPage" class="form-control-button">Quitter</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-8">
                    <div class="progress">
                      <span id="progressTxt" class="progress-text">0%</span>
                      <span id="progressBar" class="progress-bar"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!---->
        </form>
        <!---->
        <div v-if="formStep.typeStep == 'result'" class="row justify-content-center align-items-center result-wrapper">
          <div class="col-8 bg-white rounded p-4">
            <div class="row mb-3 justify-content-center">
              <div class="col">
                <div class="result-header d-flex flex-column align-items-center">
                  <h1 class="title">Félicitation</h1>
                  <h2 style="display:inline-block;" class="txt">vous étes éligible</h2>
                  <img class="img" src="/public/icons/tick.svg" alt="valid">
                </div>
              </div>
            </div>
            <div class="row mb-3 justify-content-center">
              <div class="col">
                <div class="result-body d-flex flex-column align-items-center">
                  <h3 class="desc">Vous Bénéficié d'un 
                    <b style="display: inline-block;">{{formValues.benfitType}}</b>
                  </h3>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <div class="result-footer d-flex flex-column align-items-center">
                  <div class="top d-flex flex-column justify-content-center align-items-center">
                    <h3 v-if="formValues.grantAmount!=null" class="amount">de <b style="color:#CE1212">{{formValues.grantAmount}} €</b></h3>
                    <h5 class="offer">offert par le <b>cpn</b></h5>
                  </div>
                  <div class="bottom d-flex flex-row justify-content-end">
                    <button v-on:click="checkForm" class="arrow" type="button">
                      <svg class="arrow-svg" style="fill:#038418" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="123.964px" height="123.964px" viewBox="0 0 123.964 123.964" xml:space="preserve">
                        <path d="M121.7,57.681L83,26.881c-4-3.1-10-0.3-10,4.8v10.3c0,3.3-2.2,6.2-5.5,6.2H6c-3.3,0-6,2.4-6,5.8v16.2c0,3.2,2.7,6,6,6h61.5   c3.3,0,5.5,2.601,5.5,5.9v10.3c0,5,6,7.8,9.9,4.7l38.6-30C124.7,64.781,124.8,60.081,121.7,57.681z"/>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SideNavigation from "../components/SideNavigation";
import Deball from "../components/Deball";
import Calendar from "./layouts/Calendar.vue";
import SVGMap from "./layouts/SVGMap.vue";
import Datepicker from "vuejs-datepicker";
import api from "../instances/Interceptors";
export default {
  components:{
    Datepicker,
    Calendar,
    SideNavigation,
    Deball,
    SVGMap
  },
  data() {
    return {
      formStep:{
        activeStep:0,
        activeSubStep:0,
        subStepCat:1,
        typeStep:"form"
      },

      searchTransition:"",
      transitionCategories:"",
      turnoverStep:0,
      
      timer:{
        timerCount:null,
        initCountdown:60*6,
        countdown:"06:00",
      },

      formValues:{
        zipCode:null,
        companyName:null,
        companyStatus:null,
        region:null,
        department:null,
        address:null,
        city:null,
        turnover:null,
        stateHelp:null,
        lastTurnover:0,
        salariesNumber:null,

        haveWebsite:null,
        websiteType:null,
        websiteValue:null,
        websiteLink:null,
        websiteDevelopmentDate:null,

        haveCrm:null,
        crmType:null,
        crmDevelopement:null,
        crmDevelopmentDate:null,

        agencyName:null,

        digitalTransitions:[],
        budgetInvestment:null,
        siretNumber:null,
        firstName:null,
        lastName:null,
        email:null,
        phone:null,
        companyPhone:null,
        position:null,

        meetingId:null,
        meetingType:null,
        meetingDate:null,
        meetingLink:null,
        meetingPassword:null,

        advisorName:null,

        benfitType:null,
        grantAmount:null,

        clientID:null,
      },

      formData:[
        {
          step:1,
          title:"Choisissez votre région"
        },
        {
          step:2,
          title:"Nom de l'entreprise"
        },
        {
          step:3,
          title:"Status juridique"
        },
        {
          step:4,
          title:"Avez vous perdu du chiffre d'affaire pendant la crise sanitaire"
        },
        {
          step:5,
          title:"Avez vous déja obtenu des aides de l'état",
          data:[
            "Chéque numérique et aide numérique de votre région",
            "Crédit d'impôt",
            "Fond de solidarité",
            "Chaumage partiel",
            "Aucune aide",
          ],
        },
        {
          step:6,
          title:"Dernier chiffre d'affaire réalisé",
          data:[
            "0€",
            "55 000€",
            "200 000€",
            "750 000€",
            "2 900 000€",
            "5 600 000€",
            "8 300 000€",
            "12 000 000€",
            "17 500 000€",
            "+40 000 000€"
          ]
        },
        {
          step:7,
          title:"Nombre de salariés",
          data:[
            {desc:"de 0 à 5 Personnes", val:0},
            {desc:"de 5 à 10 Personnes", val:5},
            {desc:"de 10 à 20 Personnes", val:10},
            {desc:"de 20 à 30 Personnes", val:20},
            {desc:"de 30 à 40 Personnes", val:30},
            {desc:"de 40 à 50 Personnes", val:40},
            {desc:"plus de 50 Personnes", val:50},
          ],
        },
        {
          step:8,
          stepA:[
            {
              subStep:1,
              title:"Avez vous un site internet pour votre entreprise"
            },
            {
              subStep:2,
              title:"Type de site"
            },
            {
              subStep:3,
              title:"Lien de site"
            },
            {
              subStep:4,
              title:"Date de développement"
            },
            {
              subStep:5,
              title:"L'agence qui a développé votre site"
            }
          ],
          stepB:[
            {
              subStep:1,
              title:"Avez vous un crm pour votre entreprise"
            },
            {
              subStep:2,
              title:"Type de crm"
            },
            {
              subStep:3,
              title:"Le crm a été développé"
            },
            {
              subStep:4,
              title:"Date de développement"
            }
          ]
        },
        {
          step:9,
          title:"Quel projet est à subventionner pour votre transition numérique",
          data:[
            {logo:"Creation logo", category:"Graphique", name:"Création logo", desc:"Booster votre image par la création d'une identité visuelle qui vous démarquera de la concurrence."},
            {logo:"Refonte logo", category:"Graphique", name:"Refonte logo", desc:"Remettre votre logo au goût du jour pour concéder à votre entreprise une nouvelle ére."},
            //{logo:"Lifting logo", category:"Graphique", name:"Lifting logo", desc:"Relooker, rafraîchir votre logo pour être plus en adéquation harmonie avec les tendances actuelles."},
            {logo:"Carte de visite", category:"Graphique", name:"Carte de visite", desc:"La carte visite est la route premiére vitrine de votre entreprise. Elle doit refléter l'image que vous portez à votre entreprise."},
            {logo:"Flayer commerciale", category:"Graphique", name:"Flayer commerciale", desc:"Conçu pour susciter l'intérêt des prospects, un flyer contenant un bon design et un message percutant est un gage de réussite."},
            {logo:"Carte de fidélité", category:"Graphique", name:"Carte de fidélité", desc:"Attribué des avantages sous formes de services, cadeaux et remises à vos clients à travers des cartes de fidélité personnalisées... quoi de mieux pour les gâter et donc les fidéliser."},
            {logo:"Poster-Affiche", category:"Graphique", name:"Poster / Affiche", desc:"Le poster ou l'affiche vous permet de toucher une large audience. Considérer comme une affiche à portée de main, le poster est idéal pour insérer plus de détails que dans une affiche."},
            {logo:"Dépliant", category:"Graphique", name:"Dépliant", desc:"Les dépliants vous permettront de présenter tout votre panel de prestations. Parfait pour faire passer un message captivant."},
            {logo:"Plaquette", category:"Graphique", name:"Plaquette", desc:"La plaquette permet de mettre en avant un message, une offre ou un service. Utile pour les commerciaux de l’entreprise qui peuvent prendre appui sur la plaquette commerciale pour prospecter."},
            {logo:"Retouche photo", category:"Graphique", name:"Retouche photo", desc:"Améliorer la qualité de la photo, la sublimer ou la retoucher implique un plus grand intérêt au produit ! Indispensable pour cibler un plus large public."},
            {logo:"Charte graphique", category:"Graphique", name:"Charte graphique", desc:"La charte graphique vous permet de maintenir une cohérence autour de votre image. C’est la Bible de votre identité visuelle et est indispensable pour toute conception graphique."},
            {logo:"Signature mail", category:"Graphique", name:"Signature mail", desc:"Considérée comme la carte visite commerciale, la signature mail est indispensable pour mettre en avant l’atout de votre entreprise ou son contenu."},
            {logo:"Menu restaurant", category:"Graphique", name:"Menu restaurant", desc:"Votre menu reflète toute l’image que vous portez à votre établissement. A l’ère du numérique, plus les prospects ont des informations détaillées sur ce que vous proposez, plus ils sont tentés d’essayer"},
            {logo:"Cover single", category:"Graphique", name:"Cover single", desc:"Le cover Single est le support visuel de l'univers de l'artiste !Il nous est donc indispensable de mettre la lumière sur l’originalité du single à travers sa pochette d’album."},
            {logo:"Pochette à rabat", category:"Graphique", name:"Pochette à rabat", desc:"La pochette à rabat est parfaite pour introduire des fichiers produits ou techniques, un devis ou un contrat. Elle est considérée jusqu’à maintenant un document commerciale incontournable."},
            {logo:"Catalogue", category:"Graphique", name:"Catalogue", desc:"Idéal pour promouvoir une gamme de produits auprès des consommateurs. En format digital ou en souvenir papier ; le catalogue reste l’outil de communication le plus explicite."},
            {logo:"Couverture de livre", category:"Graphique", name:"Couverture de livre", desc:"Une couverture de livre pertinente se doit de constituer une vraie étape dans le marketing de l’éditeur.(trice) ou de l’auteur(e). C’est la première vitrine de ce que le livre contient."},
            {logo:"Kit stand salon", category:"Graphique", name:"Kit stand salon", desc:"Pour vos expositions ou forum, le KIT Stand Salon est idéal pour captiver l’intérêt des visiteurs et professionnels."},
            {logo:"Bon de commande", category:"Graphique", name:"Bon de commande", desc:"Le bon de commande est un document qui vous permet de définir et valider les modalités de prestation."},
            {logo:"Packaging", category:"Graphique", name:"Packaging", desc:"Outre ses fonctions physiques, le packaging est incontestablement la vitrine de toute entreprise. Il permet de communiquer toutes les informations sur le produit au consommateur. C'est un vecteur de sens, de signification."},
            {logo:"Site marketplace", category:"Développement", name:"Site marketplace", desc:"Un site web marketplace permet de mettre en relation des vendeurs et des acheteurs, particuliers ou professionnels."},
            {logo:"SEO", category:"Développement", name:"SEO", desc:"Le référencement naturel (SEO) consiste souvent à apporter de petites modifications à certaines parties de votre site."},
            {logo:"Site vitrine", category:"Développement", name:"Site vitrine starter", desc:"Site vitrine ergonomique est un moyen efficace de parler de vos services."},
            {logo:"Site vitrine", category:"Développement", name:"Site vitrine sur mesure", desc:"Site vitrine ergonomique est un moyen efficace de parler de vos services."},
            {logo:"Site e-commerce", category:"Développement", name:"Site e-commerce", desc:"Site web clé en main e-commerce est éligible à la remise de 30% pris en charge par l'état IDF fond de solidarité pour les créateurs d'entreprises."},
            {logo:"ERP-CRM", category:"Développement", name:"ERP / CRM", desc:"Idéal pour l’organisation et la gestion des ressources de votre entreprise et les relations commerciales. L’objectif étant de relier les différentes activités synchroniser leur fonctionnement."},
            {logo:"Application réseau sociaux", category:"Développement", name:"Application réseau sociaux", desc:"Application mobile pour réseau social généraliste ou spécialisé."},
            {logo:"Application marketplace", category:"Développement", name:"Application marketplace", desc:"Une application marketplace permet de mettre en relation des vendeurs et des acheteurs, particuliers ou professionnels."},
            {logo:"Application jeux mobile", category:"Développement", name:"Application jeux mobile", desc:"Une interface intuitive,un langage de script graphique effets particules, et animations."},
            {logo:"Application Marketing", category:"Développement", name:"Application Marketing", desc:"Une application mobile marketing ergonomique est un moyen efficace de parlerde vos services."},
            {logo:"Application ERP-CRM", category:"Développement", name:"Application ERP / CRM", desc:"Une application ERP / CRM Vous permettra d’automatiser les processus de vente, et de recueillir des informations sur les clients."},
            {logo:"E-commerce", category:"Développement", name:"Application E-commerce", desc:"Application mobile e-commerce est un moyen efficace pour parler de vos produits et optimiser vos ventes."},
            {logo:"Design applicatif XD", category:"Graphique", name:"Design applicatif XD", desc:"Un design applicatif personnalisé et sur mesure, à l’image de votre entreprise."},
            {logo:"Banniére vidéo facebook", category:"Montage", name:"Banniére vidéo facebook", desc:"Vitrine de votre facebook c'est la premiére impression qu'un utilisateur aura de votre activité. Un facteur décisif"},
            {logo:"Espace et compagne mailing", category:"Marketing", name:"Espace et compagne mailing", desc:"Un moyen performant de communiquer sur un événement."},
            {logo:"Banniére réseaux sociaux", category:"Graphique", name:"Banniére réseaux sociaux", desc:"La publicité en ligne par excellence pour augmenter vos ventes et développer votre image et notoriété"},
            {logo:"Rédaction web marketing", category:"Marketing", name:"Rédaction web marketing", desc:"Rédaction stratégique pour votre audience blog articles avec contenue qualitatif recherche mots-clefs dans votre secteur d'activité"},
            {logo:"Stratégie marketing", category:"Marketing", name:"Stratégie marketing", desc:"Une stratégie marketing bien étudiée et spécifique à votre secteur d'activité"},
            {logo:"Texte marketing", category:"Marketing", name:"Texte marketing", desc:"Un texte marketing captivant, pour votre entreprise"},
            {logo:"Animation logo", category:"Montage", name:"Animation logo", desc:"L'animation de votre logo amplifie l'impact visuel de votre message et le rendra plus facilement mémorisable"},
            {logo:"Tournage studio", category:"Montage", name:"Tournage studio", desc:"Un studio de tournage ( photo / vidéo ) à votre disposition, pour la réalisation d'un spot publicitaire ou autres."},
            {logo:"Vidéo motion désign", category:"Montage", name:"Vidéo motion désign", desc:"Diffuser des informations de façon simple, presenter l’utilisation d’un produit ou le fonctionnement d’un service dans une vidéo motion."},
            {logo:"Vidéo marketing", category:"Montage", name:"Vidéo marketing", desc:"La vidéo permet d’expliquerclairement les avantages d’un produit, d’un service, d’un concept ou encore d’une entreprise."},
            {logo:"Community Management", category:"Marketing", name:"Community Management (Pack standard)", desc:""},
            {logo:"Community Management", category:"Marketing", name:"Community Management (Pack master)", desc:""},
          ]
        },
        {
          step:10,
          title:"Budget d'investissement",
          data:[
            300,
            500,
            600,
            900,
            1000,
            1200,
            1500,
            1800,
            2100,
            2400,
            2700,
            3000,
            3200,
            4000,
            5000,
            6000,
            7000,
            7500,
            9000,
            10000,
            11000,
            12000,
            13000,
            14000,
            15000,
            16000,
            17000,
            18000,
            19000,
            20000,
            21000,
            22000,
            23000,
            24000,
            25000,
            26000,
            27000,
            28000,
            29000,
            30000,
            75000,
            85000,
            95000,
            105000,
            115000,
            125000,
            135000,
            145000,
            155000,
            165000,
            175000,
            187000,
          ],
        },
        {
          step:11,
          title:"Numéro de siret"
        },
        {
          step:12,
          title:"Adresse"
        },
        {
          step:13,
          title:"Fiche de renseignement"
        },
        {
          step:14,
          title:"Vos disponibilités"
        },
        {
          step:15,
          title:"Merci pour votre temps"
        },
      ],
    }
  },
  watch:{
    'formValues.zipCode':function (newVal, oldVal) {
      if(this.formStep.activeStep == 0){
        this.filterRegion(newVal);
      }
    },
    'formValues.address':function(newVal, oldVal){
      if(this.formStep.activeStep == 11){
        new google.maps.places.Autocomplete(
          document.getElementById("addressCompletation")
        )
      }
    }
  },
  methods:{
    checkForm(){
      switch (this.formStep.activeStep) {
        case 0:
          if(this.formValues.zipCode == null || this.formValues.zipCode == ""){
            this.toastHandler("code postale est vide", "error");
          } else {
            this.nextStep()
          }
        break;
        case 1:
          if(this.formValues.companyName == null || this.formValues.companyName == ""){
            this.toastHandler("nom de l'entreprise est requis", "error");
          } else {
            this.nextStep()
          }
        break;
        case 2:
          if(this.formValues.companyStatus == null || this.formValues.companyStatus == ""){
            this.toastHandler("Vous devez choisir un status juridique", "error");
          } else {
            this.nextStep()
          }
        break;
        case 3:
          if(this.formValues.turnover == null || this.formValues.turnover == ""){
            this.toastHandler("Valeur ne doit pas étre vide", "error");
          } else {
            this.nextStep()
          }
        break;
        case 4:
          if(this.formValues.stateHelp == null || this.formValues.stateHelp == ""){
            this.toastHandler("Vous devez choisir une option", "error");
          } else {
            this.nextStep()
          }
        break;
        case 5:
          if(this.formValues.lastTurnover == null || this.formValues.lastTurnover == ""){
            this.toastHandler("Valeur du chiffre d'affaire est requis", "error");
          } else {
            this.nextStep()
          }
        break;
        case 6:
          if(this.formValues.salariesNumber == null || this.formValues.salariesNumber == ""){
            this.toastHandler("Vous devez choisir une option", "error");
          } else {
            if(this.formValues.salariesNumber >= 20 && this.formValues.lastTurnover >= 500000){
              this.formStep.subStepCat = 2
              this.nextStep()
            } else {
              this.formStep.subStepCat = 1
              this.nextStep()
            }
          }
        break;
        case 7:
          let x = this.formStep.activeSubStep;
          switch (true) {
            case (x == 0 && x <= this.formData[7].stepA.length-1 && this.formStep.subStepCat == 1):
              if(this.formValues.haveWebsite == null || this.formValues.haveWebsite == ""){
                this.toastHandler("Vous devez sélectionner une option", "error");
              } else {
                if(this.formValues.haveWebsite == "oui"){
                  this.nextSubStep()
                } else {
                  this.nextStep()
                }
              }
            break;
            case (x == 1 && x <= this.formData[7].stepA.length-1 && this.formStep.subStepCat == 1):
              if(this.formValues.websiteType == null || this.formValues.websiteType == ""){
                this.toastHandler("Vous devez choisir un type de site", "error");
              } else {
                  if(this.formValues.websiteValue == null || this.formValues.websiteValue == ""){
                  this.toastHandler("Vous devez mettre une valeur", "error");
                } else {
                  this.nextSubStep()
                }
              }
            break;
            case (x == 2 && x <= this.formData[7].stepA.length-1 && this.formStep.subStepCat == 1):
              if(this.formValues.websiteLink == null || this.formValues.websiteLink == ""){
                this.toastHandler("Lien du site web est requis", "error");
              } else {
                this.nextSubStep()
              }
            break;
            case (x == 3 && x <= this.formData[7].stepA.length-1 && this.formStep.subStepCat == 1):
              if(this.formValues.websiteDevelopmentDate == null || this.formValues.websiteDevelopmentDate == ""){
                this.toastHandler("Date de dévélopement du site est requis", "error");
              } else {
                this.nextSubStep()
              }
            break;
            case (x == 4 && x <= this.formData[7].stepA.length-1 && this.formStep.subStepCat == 1):
              if(this.formValues.agencyName == null || this.formValues.agencyName == ""){
                this.toastHandler("Nom de l'agence est requis", "error");
              } else {
                this.nextStep()
              }
            break;
            case (x == 0 && x <= this.formData[7].stepB.length-1 && this.formStep.subStepCat == 2):
              if(this.formValues.haveCrm == null || this.formValues.haveCrm == ""){
                this.toastHandler("Vous devez sélectionner une option", "error");
              } else {
                if(this.formValues.haveCrm == "oui"){
                  this.nextSubStep()
                } else {
                  this.formStep.subStepCat = 1;
                  this.formStep.activeSubStep = 0;
                }
              }
            break;
            case (x == 1 && x <= this.formData[7].stepB.length-1 && this.formStep.subStepCat == 2):
              if(this.formValues.crmType == null || this.formValues.crmType == ""){
                this.toastHandler("Vous devez choisir un type de crm", "error");
              } else {
                this.nextSubStep()
              }
            break;
            case (x == 2 && x <= this.formData[7].stepB.length-1 && this.formStep.subStepCat == 2):
              if(this.formValues.crmDevelopement == null || this.formValues.crmDevelopement == ""){
                this.toastHandler("Vous devez sélectionner une option", "error");
              } else {
                this.nextSubStep()
              }
            break;
            case (x == 3 && x <= this.formData[7].stepB.length-1 && this.formStep.subStepCat == 2):
              if(this.formValues.crmDevelopmentDate == null || this.formValues.crmDevelopmentDate == ""){
                this.toastHandler("Date de dévélopement du site est requis", "error");
              } else {
                this.formStep.subStepCat = 1;
                this.formStep.activeSubStep = 0;
              }
            break;
            default:
            break;
          }
        break;
        case 8:
          if(this.formValues.digitalTransitions == null || this.formValues.digitalTransitions == ""){
            this.toastHandler("Vous devez choisir une transition digitale", "error");
          } else {
            this.nextStep()
          }
        break;
        case 9:
          if(this.formValues.budgetInvestment == null || this.formValues.budgetInvestment == ""){
            this.toastHandler("Budget d'investissement est requis", "error");
          } else {
            this.nextStep();
          }
        break;
        case 10:
          if(this.formValues.siretNumber == null || this.formValues.siretNumber == ""){
            this.toastHandler("Numéro de siret est requis", "error");
          } else {
            this.nextStep();
          }
        break;
        case 11:
          if(this.formValues.address == null || this.formValues.address == ""){
            this.toastHandler("L'adress est requis", "error");
          } else {
            if(this.formValues.city == null || this.formValues.city == ""){
              this.toastHandler("Ville est requis", "error");
            } else {
              if(this.formValues.zipCode == null || this.formValues.zipCode == ""){
                this.toastHandler("Code postale est requis", "error");
              } else {
                this.nextStep();
              }
            }
          }
        break;
        case 12:
          if(this.formValues.firstName == null || this.formValues.firstName == ""){
            this.toastHandler("Nom est requis", "error");
          } else {
            if(this.formValues.lastName == null || this.formValues.lastName == ""){
              this.toastHandler("Prénom est requis", "error");
            } else {
              if(this.formValues.email == null || this.formValues.email == ""){
                this.toastHandler("Email est requis est requis", "error");
              } else {
                if(this.formValues.phone == null || this.formValues.phone == ""){
                  this.toastHandler("Numéro de téléphone est requis", "error");
                } else {
                  if(this.formValues.companyPhone == null || this.formValues.companyPhone == ""){
                    this.toastHandler("Email est requis", "error");
                  } else {
                    if(this.formValues.position == null || this.formValues.position == ""){
                      this.toastHandler("Poste est requis", "error");
                    } else {
                      this.checkEligibility();
                    }
                  }
                }
              }
            }
          }
        break;
        case 13:
          if(this.formValues.meetingDate == null || this.formValues.meetingDate == ""){
            this.toastHandler("Vous devez placer un rendez-vous", "error");
          } else {
            if(this.formValues.meetingType == null || this.formValues.meetingType == ""){
              this.toastHandler("Vous devez choisir un type de rendez-vous", "error");
            } else {
              if(this.formValues.meetingId == null && this.formValues.meetingLink == null && this.formValues.meetingPassword == null){
                this.toastHandler("Vous devez générer le rendez-vous", "error");
              } else {
                this.nextStep();
                this.countDownTimer("stop");
                this.sendCounter({elapsedTime:this.timer.countdown})
                this.axonautDataAdd(this.formValues);
              }
            }
          }
        break;
        default:
          break;
      }
    },

    sendCounter(data){
      api.saveTimer(JSON.stringify(data))
      .then(response=>console.log(response.data))
      .catch(error=>console.log(error));
    },

    checkEligibility(){
      let region = this.formValues.region;
      let budget = this.formValues.budgetInvestment;
      this.formValues.benfitType= "Chéque numérique";
      
      if(region == "Nouvelle-Aquitaine"){
        if(budget == 10000){
          this.formValues.benfitType = "Chèque Transformation Numérique";
        }
        else if(budget > 10000){
          this.formValues.benfitType = "Chèque Transformation Numérique";
        }
        else {
          this.benfitType = "Chéque numérique";
        }
      } else if(region == "Île-de-France"){
        if(budget >= 300 && budget <= 3000){
          this.formValues.benfitType = "Chèque de commerce connecté";
        }
        else {
          this.benfitType = "Chéque numérique";
        }
      } else if(region == "Hauts-de-France") {
        if(budget >= 300 && budget <= 1000){
          this.formValues.benfitType = "Booster TPE – Numérique fournie par le CCI Haut de france";
        }
        else if(budget > 1000 && budget <= 7500){
          this.formValues.benfitType = "Booster TPE – Numérique fournie par le CCI Haut de france";
        }
        else if(budget > 7500 && budget <= 75000){
          this.formValues.benfitType = "Soutien aux investissements numériques des Artisans/Commerçants (INAC)";
        }
        else {
          this.benfitType = "Chéque numérique";
        }
      } else if(region == "Auvergne-Rhône-Alpes"){
        if(budget == 500){
          this.formValues.benfitType = "Mon commerce en ligne";
        }
        else if(budget > 500){
          this.formValues.benfitType = "Mon commerce en ligne";
        }
        else {
          this.benfitType = "Chéque numérique";
        }
      } else if(region == "Normandie"){
        if(budget >= 2000 && budget <= 10000){
          this.formValues.benfitType = "Impulsion Transition Numérique";
        }
        else {
          this.benfitType = "Chéque numérique";
        }
      } else if(region == "Grand Est"){
        if(budget >= 1000 && budget <= 6000){
          this.formValues.benfitType = "Soutien à la digitalisation";
        }
        else if(budget > 6000){
          this.formValues.benfitType = "Soutien à la digitalisation";
        }
        else {
          this.benfitType = "Chéque numérique";
        }
      } else if(region == "Pays de la Loire"){
        if(budget >= 10000 && budget <= 30000){
          this.benfitType = "Pays de la Loire Investissement numérique - PDLIN";
        }
        else {
          this.benfitType = "Chéque numérique";
        }
      } else if(region == "La Réunion"){
        if(budget >= 300 && budget <= 3200){
          this.benfitType = "Chèque Numérique : Renforcement du dispositif dans le cadre de la crise sanitaire du Covid-19";
        }
        else if(budget > 3200){
          this.benfitType = "Chèque Numérique : Renforcement du dispositif dans le cadre de la crise sanitaire du Covid-19";
        }
        else {
          this.benfitType = "Chéque numérique";
        }
      } else if(region == "Martinique"){
        if(budget >= 300 && budget <= 20000){
          this.benfitType = "Pass Numérique : aide à la transformation numérique";
        } 
        else {
          this.benfitType = "Chéque numérique";
        }
      } else if(region == "Guadeloupe"){
        if(budget >= 300 && budget <= 12500){
          this.benfitType = "Chèque TIC";
        } 
        else {
          this.benfitType = "Chéque numérique";
        }
      } else {
        this.benfitType = "Chéque numérique";
      }

      if(this.formStep.typeStep == "form"){
        this.formStep.typeStep = "result";
        api.saveTest(JSON.stringify(this.formValues))
        .then((response)=>{if(!response.data.error){this.formValues.clientID = response.data.client;}})
        .catch((error)=>console.log(error));
      } else {
        this.formStep.typeStep = "form"
        this.nextStep()
      }
    },

    /* tester(){
      api.saveTest(JSON.stringify(this.formValues))
      .then((response)=>{
          console.log(response.data)
        }).catch((error)=>console.log(error));
    }, */

    axonautDataAdd(data){
      api.addAxonautData(JSON.stringify(data))
      .then((response)=>console.log(response.data))
      .catch((error)=>console.log(error));
    },

    sendEmail(data){
      api.sendEmail(JSON.stringify(data))
      .then((response)=>console.log(response.data))
      .catch((error)=>console.log(error))
    },

    getEventDate(dateEventMeeting) {
      this.formValues.meetingDate = dateEventMeeting;
    },

    nextStep(){
      this.formStep.activeStep = this.formStep.activeStep+1
    },

    prevStep(){
      if(this.formStep.activeStep > 0  && this.formStep.activeStep != 13){
        if(this.formStep.activeStep == 7){
          this.formStep.activeSubStep = 0;
        }
        this.formStep.activeStep = this.formStep.activeStep-1;
      }
      
    },

    nextSubStep(){
      this.formStep.activeSubStep = this.formStep.activeSubStep+1
    },

    keyHandler(){
      var that = this;
      document.addEventListener('keyup', function(e){
        switch (e.keyCode) {
          case 37:
            //that.prevStep();
            break;
          case 13:
            that.checkForm();
            break;
          case 39:
            //that.checkForm();
            break;
          case 222:
            //that.tester();
            break;
          default:
            break;
        }
      })
    },

    progressUpdate(){  
      if(this.formStep.typeStep == "form"){
        var progressTxt= document.getElementById('progressTxt');
        var progressBar = document.getElementById('progressBar');
        let progressVal = Math.round((this.formStep.activeStep/(this.formData.length-1))*100);
        progressTxt.innerHTML = progressVal+"%";
        progressBar.style.width = progressVal+"%";
      }
    },

    inputSelectHandler(dataValue){
      var that = this;
      var selectOptionInput = document.getElementById("selectOptionInput");
      let selectOtpionDropdown = document.getElementById("selectOptionDropdown");
      selectOptionInput.addEventListener('click',function () {
        selectOtpionDropdown.classList.add("active");
      })
      var selectOptionList = document.querySelectorAll("#selectOptionList")
      selectOptionList.forEach(function (optionList) {
        optionList.addEventListener('click',function () {
          if(dataValue=="stateHelp") that.formValues.stateHelp = optionList.dataset.value;
          if(dataValue=="salariesNumber") that.formValues.salariesNumber = optionList.dataset.value;
          if(dataValue=="developmentDate") that.formValues.developmentDate = optionList.dataset.value;
          if(dataValue=="budgetInvestment") that.formValues.budgetInvestment = optionList.dataset.value;
          selectOtpionDropdown.classList.remove('active');
        });
      });
    },

    inputSelectVerify(){
      var that = this;
      switch (that.formStep.activeStep) {
        case 4:{
          that.inputSelectHandler("stateHelp");
          break;
        }
        case 6:{
          that.inputSelectHandler("salariesNumber");
          break;
        }
        case 9:
          that.inputSelectHandler("budgetInvestment");
          break;
        default:
          break;
      }
    },

    rangeSliderInit(){
      if(this.formStep.activeStep == 5){
        var that = this;

        var rangeSlider = document.getElementById('rangeSlider');
        var rangeProgress = document.getElementById('rangeProgress');
        var rangeSpot = document.querySelectorAll('.range-spot');
        var rangeValue = document.querySelector("#rangeValue");

        var valMap = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,110,120,130,140,150,160,170,180,190,200,210,220,230,240,250,260,270,280,290,300,310,320,330,340,350,360,370,380,390,400,410,420,430,440,450,460,470,480,490,500,510,520,530,540,550,560,570,580,590,600,610,620,630,640,650,660,670,680,690,700,710,720,730,740,750,760,770,780,790,800,810,820,830,840,850,860,870,880,890,900,1000,1050,1100,1150,1200,1250,1300,1350,1400,1450,1500,1550,1600,1650,1700,1750,1800,1850,1900,1950,2000,2050,2100,2150,2200,2250,2300,2350,2400,2450,2500,2550,2600,2650,2700,2750,2800,2850,2900,2950,3000,3050,3100,3150,3200,3250,3300,3350,3400,3450,3500,3550,3600,3650,3700,3750,3800,3850,3900,3950,4000,4050,4100,4150,4200,4250,4300,4350,4400,4450,4500,4550,4600,4650,4700,4750,4800,4850,4900,4950,5000,5050,5100,5150,5200,5250,5300,5350,5400,5450,5500,5550,5600,5650,5700,5750,5800,5850,5900,5950,6000,6050,6100,6150,6200,6250,6300,6350,6400,6450,6500,6550,6600,6650,6700,6750,6800,6850,6900,6950,7000,7050,7100,7150,7200,7250,7300,7350,7400,7450,7500,7550,7600,7650,7700,7750,7800,7850,7900,7950,8000,8050,8100,8150,8200,8250,8300,8350,8400,8450,8500,8550,8600,8650,8700,8750,8800,8850,8900,8950,9000,9050,9100,9150,9200,9250,9300,9350,9400,9450,9500,9550,9600,9650,9700,9750,9800,9850,9900,9950,10000,10100,10200,10300,10400,10500,10600,10700,10800,10900,11000,11100,11200,11300,11400,11500,11600,11700,11800,11900,12000,12100,12200,12300,12400,12500,12600,12700,12800,12900,13000,13100,13200,13300,13400,13500,13600,13700,13800,13900,14000,14100,14200,14300,14500,14600,14700,14800,14900,15000,15100,15200,15300,15400,15500,15600,15700,15800,15900,16000,16100,16200,16300,16400,16500,16600,16700,16800,16900,17000,17100,17200,17300,17400,17500,17600,17700,17800,17900,18000,18100,18200,18300,18400,18500,18600,18700,18800,18900,19000,19100,19200,19300,19400,19500,19600,19700,19800,19900,20000,20100,20200,20300,20400,20500,20600,20700,20800,20900,21000,21500,22000,22500,23000,23500,24000,24500,25000,25500,26000,26500,27000,27500,28000,28500,29000,29500,30000,40000];
        if(rangeSlider != null) {
          rangeSlider.oninput = function(){
            console.log(valMap.length)

            const val = rangeSlider.value;
            const min = rangeSlider.min ? rangeSlider.min : 0;
            const max = rangeSlider.max ? rangeSlider.max : 100;
            const newVal = Number(((val - min) * 100) / (max - min));

            rangeValue.innerHTML = (valMap[val] * 1000 )+" €";
            rangeValue.style.left = `calc(${newVal}% + (${8 - newVal * 0.15}px))`;
            rangeProgress.style.width = `calc(${newVal}% + (${8 - newVal * 0.15}px))`;

            that.formValues.lastTurnover = valMap[val] * 1000 ;

            let y = valMap[val] * 1000;
            switch (true) {
              case (y >= 0 && y <= 50000):
                that.formValues.grantAmount = "100";
                that.formValues.digitalTransitions = ["Site vitrine starter"];
              break;
              case (y > 50000 && y <= 100000):
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "3000";
              break;
              case (y > 100000 && y <= 200000):
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "2850";
              break;
              case (y > 200000 && y <= 300000):
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "2750";
              break;
              case (y > 300000 && y <= 400000):
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "2650";
              break;
              case (y > 400000 && y <= 600000):
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "2550";
              break;
              case (y > 600000 && y <= 700000):
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "2450";
              break;
              case (y > 700000 && y <= 1000000):
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "2350";
              break;
              case (y > 1000000 && y <= 1500000):
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "2150";
              break;
              case (y > 1500000 && y <= 2000000):
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "1950";
              break;
              case (y > 2000000 && y <= 3000000):
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "1750";
              break;
              case (y > 3000000 && y <= 4000000):
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "1550";
              break;
              case (y > 4000000 && y <= 5000000):
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "1350";
              break;
              case (y > 5000000 && y <= 6000000):
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "1150";
              break;
              case (y > 6000000 && y <= 7000000):
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "950";
              break;
              case (y > 7000000 && y <= 8000000):
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "750";
              break;
              case (y > 8000000 && y <= 9000000):
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "550";
              break;
              case (y > 9000000 && y <= 30000000):
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "350";
              break;
              default:
                that.formValues.digitalTransitions = ["Site vitrine sur mesure"];
                that.formValues.grantAmount = "350";
                break;
            }

            let spots = Math.floor((this.value/this.max)*(rangeSpot.length-1));
            //console.log((this.value/this.max)+"-"+(this.value/this.max)*(rangeSpot.length-1)+"-"+spots);
            rangeSpot.forEach((item,_)=>{
              item.classList.remove('active');
            })
            for (let index = 0; index <= spots; index++) {
                rangeSpot[index].classList.add('active');
            }
          }
        }
      }
    },

    filterRegion(val){
      var that = this;
      let mapCityName = document.getElementById("mapCityName")
      let map = document.getElementById("mapSVG");
      let region = map.querySelectorAll(".region");
      region.forEach((regionItem)=>{
        let departement = regionItem.querySelectorAll('.departement');
        departement.forEach((departementItem)=>{
          departementItem.classList.remove("selected");
          if(departementItem.dataset.department == val.substring(0, 2) || departementItem.dataset.department == val.substring(0, 3)){
            mapCityName.innerHTML ="<b>"+regionItem.dataset.name+"</b> : "+departementItem.dataset.name+" <sup>("+departementItem.dataset.department+")</sup>";
            that.formValues.region = regionItem.dataset.name;
            that.formValues.department = departementItem.dataset.name;
            departementItem.classList.add("selected");
          }
        });
      });
    },

    filterTransitions() {
      return this.formData[this.formStep.activeStep].data.filter((item,index) => {
         return item.name.toLowerCase().indexOf(this.searchTransition.toLowerCase()) > -1 && item.category.toLowerCase().indexOf(this.transitionCategories.toLowerCase()) > -1
      })
    },

    mapHandler(){
      if(this.formStep.activeStep==0 && this.formStep.typeStep=="form") {
        var that = this;
        let mapCityName = document.getElementById("mapCityName")
        let map = document.getElementById("mapSVG");
        let region = map.querySelectorAll(".region");

        region.forEach((item,index)=>{

          item.addEventListener("mouseover",function(e) {
            mapCityName.innerHTML = item.dataset.name;
          })

          let department = item.querySelectorAll('.departement')
          department.forEach((pathItem,index) => {
            pathItem.addEventListener("mouseover",function(e) {
              mapCityName.innerHTML ="<b>"+item.dataset.name+"</b> : "+pathItem.dataset.name+" <sup>("+pathItem.dataset.department+")</sup>";
              e.stopPropagation()
            })

            pathItem.addEventListener("click",function (e) {
              pathItem.classList.add("selected");
              that.formValues.region = item.dataset.name;
              that.formValues.department = pathItem.dataset.name;
              that.formValues.zipCode = pathItem.dataset.department;
            })

          })

        })
      }
    },

    toastHandler(message,type){
      this.$toast.open({
        message: message,
        type: type,
        duration: 5000,
        position: "top-right",
        dismissible: true
      })
    },
    
    generateZoomLink(){
      document.getElementById("zoomLinkGenerate").disabled = true;
      if(this.formValues.meetingDate == null ||this.formValues.meetingDate == "" ){
        this.toastHandler("Vous devez sélectionner la date de rendez-vous","error")
      } else {
        if(this.formValues.meetingType == null ||this.formValues.meetingType == "" ){
          
          this.toastHandler("Vous devez sélectionner un type de rendez-vous","error")
        } else {
          api.meetingLinkGenerate(JSON.stringify(this.formValues)).then((response) => {
            console.log(response.data)
            if(!response.data.error){
              console.log(response.data)
              this.toastHandler("Rendez-vous zoom généré avec succès","success");
              this.formValues.meetingLink = response.data.meeting.join_url;
              this.formValues.meetingId = response.data.meeting.id;
              this.formValues.meetingPassword = response.data.meeting.password;
            } else {
              this.toastHandler(response.data.message,"error");
              document.getElementById("zoomLinkGenerate").disabled = false;
            }
          }).catch((error) => {
            document.getElementById("zoomLinkGenerate").disabled = false;
            this.toastHandler(error,"error");
            console.log(error)
          });
        }
      }
    },

    countDownTimer(active){
      if(active == "activate"){
        this.timer.timerCount = setTimeout(() => {
          if(active == "activate"){
            this.timer.initCountdown -= 1;
            let timing = this.timer.initCountdown;
            let min = Math.abs(Math.floor(timing / 60));
            let sec = Math.abs(timing % 60);
            min = (min<10)?"0"+min:min;
            sec = (sec<10)?"0"+sec:sec;
            this.timer.countdown = (timing<0)?"-"+min+":"+sec:min+":"+sec;
            this.countDownTimer("activate")
          }
        }, 1000)
      } else {
        clearTimeout(this.timer.timerCount);
      }
    },

    reloadPage(){
      location.reload()
    }

  },
  created:function(){
    this.countDownTimer("activate");
    if(localStorage.getItem("reloaded") == "false"){
      localStorage.setItem("reloaded","true")
      this.reloadPage();
    }
  },
  mounted:function(){  
    this.formValues.advisorName = localStorage.getItem("first_name")+" "+localStorage.getItem("last_name")
    this.keyHandler();
    this.inputSelectVerify();
    this.rangeSliderInit();
    this.mapHandler();
  },
  beforeUpdate:function(){},
  updated:function(){
    this.inputSelectVerify();
    this.progressUpdate();
    this.rangeSliderInit();
    this.mapHandler();
  },
  beforeDestroy:function(){
    localStorage.setItem("reloaded","false");
    window.document.removeEventListener("keyup",null,false);   
  },
}
</script>

<style>

</style>