<template>
  <div class="sidebar-nav" id="sideBarNav">
    <span class="nav-toggle" id="sideBarToggle">+</span>
    <div class="nav-wrapper">
      <div class="nav-wrapper-content">
        <div class="nav-btn" id="navBoxToggle">
          <span class="btn-menu">
            <font-awesome-icon color="black" icon="book-open" />
          </span>
        </div>
        <div class="nav-header">
          <div class="header-user">
            <img src="public/img/avatar.png" alt="avatar" class="user-avatar" />
            <h3 class="user-name">{{ userName }}</h3>
          </div>
        </div>
        <div class="nav-menu">
          <ul>
            <li>
              <router-link to="/eligibility">
                Test d'éligibilité
              </router-link>
            </li>
            <li>
              <router-link to="/clients">
                Liste clients
              </router-link>
            </li>
            <!-- <li>
              <router-link to="/profile">
                Profile
              </router-link>
            </li> -->
          </ul>
          <div class="logout">
            <router-link to="/logout">
              Se déconnecter
            </router-link>
          </div>
        </div>
      </div>
      <div class="nav-box d-flex align-items-center" id="navbox">
        <div class="container-fluid g-0 p-2">
          <div class="row justify-content-center">
            <div class="col">
              <div class="row justify-content-center">
                <div class="col-md-auto">
                  <h4 class="nav-box-title">Débale</h4>
                </div>
              </div>
              <div class="row mb-3 justify-content-center">
                <div class="col-auto d-flex flex-row align-items-center">
                  <div>Désactiver</div>
                  <label class="box-input-wrapper mx-2">
                    <input type="checkbox" id="deballCheck" name="check" value="check" class="input-radio-toggle" />
                    <div class="input-radio-indicator"></div>
                  </label>
                  <div>Activer</div>
                </div>
              </div>
              <div class="row justify-content-around">
                <div class="col-md-4 d-flex justify-content-center">1</div>
                <div class="col-md-4 d-flex justify-content-center">2</div>
                <div class="col-md-4 d-flex justify-content-center">3</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    username:String
  },
  data(){
    return{
      userName: ""
    }
  },
  methods: {
    sideBarHandler() {
      let sideBarOpen = false;
      var sideBarToggle = document.getElementById("sideBarToggle");
      var bodyUi = document.getElementById("bodyUi");
      var sideBarNav = document.getElementById("sideBarNav");

      sideBarToggle.addEventListener("click", function () {
        if (!sideBarOpen) {
          bodyUi.style.marginLeft = "210px";
          sideBarNav.style.marginLeft = "0px";
          bodyUi.style.transition = ".3s";
          sideBarNav.style.transition = ".3s";
          sideBarOpen = !sideBarOpen;
        } else {
          bodyUi.style.marginLeft = "10px";
          sideBarNav.style.marginLeft = "-200px";
          bodyUi.style.transition = ".3s";
          sideBarNav.style.transition = ".3s";
          sideBarOpen = !sideBarOpen;
        }
      });
    },
    navBoxHandler() {
      let navBoxOpen = false;
      var navBoxToggle = document.getElementById("navBoxToggle");
      var navbox = document.getElementById("navbox");
      navBoxToggle.addEventListener("click", function () {
        if (!navBoxOpen) {
          navbox.style.left = "200px";
          navbox.style.transition = ".3s";
          navBoxOpen = !navBoxOpen;
        } else {
          navbox.style.left = "-200px";
          navbox.style.transition = ".3s";
          navBoxOpen = !navBoxOpen;
        }
      });
    },
    checkDeballCheckBox(){
      if(localStorage.getItem("deball") == "true"){
        document.getElementById("deballCheck").checked = true;
      }
    },
    deballBoxHandler() {
      var deballBox = document.getElementById("deballBox");
      var deballCheck = document.getElementById("deballCheck");
      deballCheck.addEventListener('change',function (e) {

        if(localStorage.getItem("deball") == "true") {
          localStorage.setItem("deball","false");
          deballBox.style.marginRight = "-350px";
          sideBarNav.style.transition = ".3s";
        } else {
          localStorage.setItem("deball","true");
          deballBox.style.marginRight = 0;
          sideBarNav.style.transition = ".3s";
        }
      })
    },
    initData(){
      this.userName = localStorage.getItem("first_name")+" "+localStorage.getItem("last_name")
    }
  },
  mounted: function () {
    this.initData();
    this.sideBarHandler();
    this.navBoxHandler();
    this.deballBoxHandler();
    this.checkDeballCheckBox();
  },
};
</script>

<style>
</style>