.sidebar_nav{
  width: 200px;
  min-height: 100vh;
  margin-left: -200px;
  background: white;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  .sidebar_toggle{
    background: $primary-red;
    position: absolute;
    right: -20px;
    top: 10px;
    color: white;
    font-weight: 800;
    line-height: 15px;
    font-size: 15px;
    width: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
  }
  .nav_header{
    flex: 1;
    .logout_btn{
      background: $primary-red;
      border: none;
      width: 20px;
      height: 50px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0px;
      top: 10px;
      border-radius: 5px 0 0 5px;
      .logout_img{
        width: 15px;
        height: 15px;
      }
    }
    .header_wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .header_avatar{
        position: relative;
        .avatar_change{
          position: absolute;
          bottom: 0;
          right: 0;
          background: $primary-gray;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $primary-blue;
          border-radius: 100%;
          border: none;
        }
        .avatar{
          width: 100px;
          height: 100px;
        }
      }
      .header_text{
        .text_user{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .user_name{
            margin: 0;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 800;
          }
          .user_func{
            margin: 0;
            text-transform:capitalize;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }
      .header_deball{
        .deball_wrapper {
          isolation: isolate;
          position: relative;
          height: 30px;
          width: 60px;
          border-radius: 15px;
          overflow: hidden;
          background: white;
          border: 2px solid $primary-blue;
        }
        .debal_toggle {
          display: none;
          z-index: 1;
          &:checked ~ .debal_toggle {
              transform: translate3d(25%, 0, 0);
          }
        }
        .debal_indicator {
          height: 100%;
          width: 210%;
          background: $primary-blue;
          border-radius: 15px;
          transform: translate3d(-78%, 0, 0);
          transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
        }
      }
    }
  }
  .nav_body{
    flex: 2;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
    .body_menu{
      .menu_wrapper{
        padding: 0;
        margin: 0;
        .menu_items{
          list-style: none;
          display: flex;
          padding: 15px;
          &:hover{
            background: $primary-gray;
          }
          .items_href{
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            .href_logo{
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }
            .href_title{
              margin: 0;
              padding: 0;
              color: $primary-gray3;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .nav_footer{
    flex: 1;
    .banner_wrapper{
      position: relative;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      .banner_img{
        
      }
      .change_banner{
        position: absolute;
      }
    }
  }
}