.container{
    .home-wrapper{
        min-height: 100vh;
        .login-form{
            overflow: hidden;
            .left-side{
                min-height: 300px;
                height: 100%;
                background: linear-gradient(45deg, $primary-red, $primary-blue);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                padding: 5px;
                .title{
                    margin: 0;
                    font-weight: 700;
                }
                .desc{
                    text-align: center;
                    margin: 0;
                }
            }
            .right-side{
                min-height: 250px;
                padding: 5px;
                height: 100%;
                background: white;
                color: black;
                .input-text-custom{
                    border-color: #c5c5c5;
                    outline: none;
                    box-shadow: none;
                    border-width: 0px 0 1px 0px;
                    border-radius: 0;
                }
            }
        }
    }
}